
__pycache__/
*.egg-info/
*.egg
*.log
*.bak

.env
.venv/
venv/
env/
.ipynb_checkpoints/
.vscode/
.idea/

*.parquet
*.feather
*.tsv
*.sav
*.h5
*.npy
*.npz


*.joblib
*.pkl
*.pickle
*.pt
*.pth
*.h5
*.onnx
*.model
*.cbm  # CatBoost binary
*.lgb  # LightGBM binary

/models/
/outputs/
/checkpoints/
/runs/
/logs/
/tmp/
/cache/
/__temp__/
/experiments/

